/* AddModal.module.css */
.eventModalOverlay {
    position: fixed; /* 화면 전체를 덮도록 설정 */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* 오버레이를 최상위에 표시 */
}

.eventModal {
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    max-height: 600px;
    width: 100%;
    position: relative;
    z-index: 1001; /* 오버레이보다 위에 표시 */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* 그림자 추가로 입체감 부여 */
}

.modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.h2 {
    margin: 0;
    font-size: 1.5em;
}

.closeIcon {
    font-size: 1.5em;
    cursor: pointer;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
}

form input, form select, form textarea {
    margin-top: 5px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button[type="button"] {
    margin-top: 15px;
    padding: 10px;
    font-size: 16px;
    background-color: #6200ea;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form label {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.icon {
    font-size: 18px;
    color: #666;
}

.saveButton {
    width: 100%;
    background-color: #6200ea;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

.saveButton:hover {
    background-color: #3700b3;
}

