.dropdownContainer {
    position: relative;
    width: 200px; /* 원하는 크기로 설정 */
}

.selectedLabel {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    text-align: center;
}

.dropdownMenu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 4px;
    z-index: 10;
    max-height: 150px;
    overflow-y: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdownItem {
    padding: 10px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}

.dropdownItem:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.addLabelButton {
    padding: 10px;
    text-align: center;
    cursor: pointer;
    color: #007bff;
    border-top: 1px solid #ccc;
}

.addLabelButton:hover {
    background-color: #f0f0f0;
}
