/lablAddedFile/target/classes/application.properties
/testTime/src/main/resources/application.properties
/time/src/main/resources/application.properties
/TimeToDO/src/main/resources/application.properties
/testTime/.mvn/wrapper/maven-wrapper.properties
/time/.mvn/wrapper/maven-wrapper.properties
/TimeToDO/.mvn/wrapper/maven-wrapper.properties
