/*!* Chatbot.module.css *!*/
.chatbotButton {
    background-color: #0078d4;
    color: white;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    font-size: 1.5rem;
    z-index: 10000;
}

/*.chatbotWindow {*/
/*    position: absolute;*/
/*    bottom: 70px;*/
/*    right: 0;*/
/*    width: 350px;*/
/*    height: 500px;*/
/*    border: 1px solid #ccc;*/
/*    border-radius: 10px;*/
/*    overflow: hidden;*/
/*    background-color: #fff;*/
/*    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);*/
/*}*/

.chatbotWrapper {
    position: fixed;
    bottom: 20px;
    right: 20px;
}
