.profileContainer {
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 8px;
    text-align: center;
}

.logoutButton {
    background-color: #ff4b4b;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.logoutButton:hover {
    background-color: #e63946;
}
